@mixin myButton($bg) {
  padding: 0.5rem;
  background-color: $bg;
  margin: 1rem 0.5rem 2rem 0.5rem;
  width: 100px;
  border-radius: 0.7rem;
  border: none;
  transition: 0.5s;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}
