/* Color Theme Swatches in Hex */
$Pastele-Presentation-1: #C9F5D6;
$Pastele-Presentation-2: #D9D8A9;
$Pastele-Presentation-3: #EBD3B5;
$Pastele-Presentation-4: #D9A5AA;
$Pastele-Presentation-5: #DAC8F7;
