@import "_variable";
@import "_mixins.scss";




.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    .card{
        width: 20%;
        background-color: $Pastele-Presentation-4;
        border-radius: 2rem;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
        padding: 1rem;
       transition: 0.9s;
    //    &:hover{
    //     box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.7);
    //     transform: scale(1.5);
    // }
    p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
        line-clamp: 1;
    }
    span{
        font-weight: 600;
    }
    img{
        width: 150px;
        height: 200px;
        border-radius: 50%;
    }
    .small{
        @include myButton($Pastele-Presentation-5);
    }
    .large{
        @include myButton($Pastele-Presentation-2);
    }
    }
   
}

button:hover{
    transform: scale(1.3);
    color: $Pastele-Presentation-1;
    box-shadow: 0 0 25px 15px $Pastele-Presentation-1;
}

@media screen and (max-width:992px){
    .container{
        .card{
            width: 50%;
          }
        }
    }
   
  @media screen and (max-width:768px){
    .container{
        .card{
            width: 100%;
          }
        }
    }
  